body{
    background-color:black;
    display:flex ;
    flex-direction: column;
    justify-content:center ;
    align-items:center ;
}
.content{
    background-color:black ;
    height: 400px; 
    width: 500px; 
    padding: 10px; ;
    border-radius: 10px;
    border:solid 2px;
    border-color:white ;
}
#titulo{
    color: white;
}
.perguntas{
    background-color: black ;
    height: 100px; 
    width: 400px; 
    border-radius: 10px;
    margin: auto ;
    border:solid 2px ;
    border-color: white;
}
.respostas1{
    background-color: black ;
    height: 100px; 
    width: 400px; 
    border-radius: 10px;
    margin: auto ;
    border:solid 2px ;
    border-color: white;
}